<!DOCTYPE html>
<html lang="en">

<head>
   <title><%- title %></title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="theme-color" content="#0E1525" />
   <meta name="keywords" content="tmpfiles, temp, tmp uploader, uploader">
   <meta name="description" content="All uploaded files are automatically deleted after 60 minutes.">
   <link href="<%- process.env.WEBSITE %>" rel="canonical" />
   <meta property="og:url" content="<%- process.env.WEBSITE %>" />
   <meta property="og:image" content="<%- process.env.WEBSITE %>/assets/image/logo.jpg" />
   <meta property="og:image:secure_url" content="<%- process.env.WEBSITE %>/assets/image/logo.jpg" />
   <meta property="og:image:type" content="image/jpeg" />
   <meta property="og:image:width" content="500" />
   <meta property="og:image:height" content="500" />
   <meta property="og:image:alt" content="TMP 0.2" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300&family=Share+Tech+Mono&display=swap"
      rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.neoxr.my.id/assets/css/gridlex.css">
   <link rel="stylesheet" href="/assets/css/style.css">
</head>